@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/*
*font-family: 'Open Sans', sans-serif;
*/
body {
    background-color: rgba(59, 58, 58, 0.712);
}

body,
p {
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;

    display: flex;
    align-items: center;
    justify-content: center;


}

.global {
    background-color: rgba(0, 66, 128, 0.692);
    max-width: 70%;
}

.global_stats {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#titre {
    background-color: rgba(48, 42, 42, 0.897);
    text-align: center;
}

.white {
    color: rgba(255, 255, 255, 0.808);
}

.box {
    border: 3px solid black;
    margin: 1em;
    padding: 1em;
}

button {
    font-size: larger;
}