@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/*
*font-family: 'Open Sans', sans-serif;
*/

body, p {
    font-size: larger;
    font-family: 'Open Sans', sans-serif;
}

#titre {
    background-color: rgba(48, 42, 42, 0.897);
    text-align: center;
    margin: 0% 10%;
    padding: 5% 0%;
}

.white{
    color: rgba(255, 255, 255, 0.808);
}

.box {
    border: 3px solid black;
    margin: 5% 10%;
    padding: 5% 8%;
}

button {
    margin: 10px;
    font-size: larger;
}